/* style sheet */

body {
    background-color: white;
    font-family: 'Gentium Plus', serif;
    font-size: 125%;
    background-image: url("images/cod_royalty_free.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

}

ul {
    list-style-type: none;
    border-top: 5px solid #00007d;
    border-left: 10px solid rgb(206, 4, 4);
    padding-bottom: 25px;
    padding-right: 15px;
    background-image: linear-gradient(to right, rgb(51, 51, 162, 0.9), rgb(204, 204, 232, 0.9));
    color: white;
}
p {
    font-size: 50%;
}

.sectionTitle {
    font-size: 175%;
}

h2 {
    font-size: 300%;
}

.detailDesc, .itemDesc {
    font-style: italic;
}

#hours, #phoneAddress {
    padding-right: 35px;
    padding-bottom: 15px;
}

footer {
    text-align: center;
}

/* hides the title off the visible portion of the page */
.hiddenOff {
    overflow: hidden;
    position: relative;
}

#title {
    position: absolute;
    right: -9999px;
}

/* styles the "menu" text at the top of the menu board */

.menuHeader, footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.time {
    float: right;
}


/* Grid container positioning */

/* small screens */

@media screen and (max-width: 799px) {

    .infoContainer {
        display: grid;
        grid-template-columns: auto;
    }

    .menuContainer {
        display: grid;
        grid-template-columns: auto;
    }
    .detailDesc {
        font-size: 105%;
    }

    footer {
        width: 100%;
        padding: 5px;
    }
}

/* medium screens */

@media screen and (min-width: 800px) {

    .infoContainer {
        display: grid;
        grid-template-columns: auto auto;
        gap: 5px;
    }
    .menuContainer {
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
    }
    .detailDesc {
        font-size: 105%;
    }

    footer {
        width: 30%;
        margin: auto;
    }
}

/* large screens */

@media screen and (min-width: 1001px) {
    .infoContainer {
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 15px;
    }
    #hours {
        grid-column-start: 2;
        grid-column-end: 3;
    }
    #phoneAddress {
        grid-column-start: 3;
        grid-column-end: 4;
    }
    .menuContainer {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 15px;
    }
    .detailDesc {
        font-size: 105%;
    }
}

/* extra large screens */

@media screen and (min-width: 1500px) {
    .infoContainer {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        gap: 20px;
    }
    #hours {
        grid-column-start: 3;
        grid-column-end: 4;
    }
    #phoneAddress {
        grid-column-start: 4;
        grid-column-end: 5;
    }
    .menuContainer {
        display: grid;
        grid-template-columns: 33% 33% auto;
        gap: 10px;
    }
}
